<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}?version=#">
  <title>Parent Buddy</title>
</head>
<body>
  
  <div id="myDIV" class="header">
    <h2 style="margin:5px">Mom's To-Do List</h2>
    <input type="text" id="myInput" placeholder="Title...">
    <input type="number" id="myPriority" placeholder="Priority">
    <span onclick="newElement()" class="addBtn">Add</span>
  </div>
  
  <ul id="myUL">
    <li data-priority=2>Pick up Jimmy</li>
    <li data-priority=1>Pay bills</li>
    <li data-priority=3>Acquire Halloween costume and candy</li>
    <li data-priority=4>Buy eggs</li>
  </ul>
  
  <div id="tips">
    <h2 style="margin:15px"> Stress relief resources:</h2>
    <ul id="tips_ul">
      <li> <a href="https://www.appliedimaging.com/blog-business-tips/time-management-working-from-home-with-kids/" target="_blank">How to manage time</a></li>
      <li> <a href="https://blog.vantagecircle.com/work-from-home-tips/" target="_blank">Tips on Working from Home</a></li>
      <li> <a href="https://tomato-timer.com/" target="_blank">TomatoTimer (Pomodoro Timer)</a></li>
      <li> <a href="https://www.youtube.com/channel/UCG-KntY7aVnIGXYEBQvmBAQ" target="_blank">Thomas Frank's Youtube Channel (useful productivity content)</a></li>
    </ul>
  </div>
  <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

  <div id="login">
    <button onclick="location.href='{{url_for('home')}}'" type="button">
        Logout :(</button>
  </div>
</html>
